:root {
  --background: 0 0% 97%;
  --foreground: 0 0% 0%;

  --accent: 255 45% 45%;
  --accent-foreground: var(--background);

  --border: var(--foreground);
  --ring: var(--accent);

  --radius: 0.75rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 97%;

    --accent-foreground: var(--foreground);
  }
} */

body {
  @apply bg-background text-foreground;
  @apply bg-gradient-to-tr from-accent/80 to-40%;
  @apply font-sans antialiased;
}

* {
  @apply border-border;
  @apply transition-property-colors transition-duration-150 transition-ease-in-out;

  &:focus {
    @apply focus-(outline-none ring-2 ring-ring ring-offset-2 ring-offset-background);
  }
}

a {
  @apply !no-underline border-b-2 border-dotted;
  @apply hover-(border-transparent bg-accent text-accent-foreground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}

#toc {
  @apply hidden;
}
