---
import { getCollection, type CollectionEntry } from "astro:content";

import Shell from "~/layouts/Shell.astro";

import { PostList } from "~/components/PostList";

type StaticPathsResult = Promise<
  {
    params: { tag: string };
    props: { posts: CollectionEntry<"blog">[] };
  }[]
>;

export async function getStaticPaths(): StaticPathsResult {
  const posts: CollectionEntry<"blog">[] = await getCollection("blog");

  return [
    ...new Set(
      posts
        .map((post) => post.data.tags)
        .filter(Boolean)
        .flat(),
    ),
  ].map((tag) => ({
    params: { tag: tag! },
    props: {
      posts: posts.filter((post) => post.data.tags?.includes(tag!)),
    },
  }));
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Shell title={`#${tag}`}>
  <section>
    <h1 class="section-heading">
      All posts tagged with #{tag}
    </h1>

    <PostList posts={posts} />
  </section>
</Shell>
