---
import type { MarkdownInstance } from "astro";

import Shell from "~/layouts/Shell.astro";

import { PostList } from "~/components/PostList";

type StaticPathsResult = Promise<
  {
    params: { tag: string };
    props: { posts: MarkdownInstance<Record<string, any>>[] };
  }[]
>;

export async function getStaticPaths(): StaticPathsResult {
  const allPosts = await Astro.glob("../content/blog/*.md");

  return [
    ...new Set(
      allPosts
        .map((post) => post.frontmatter.tags)
        .filter(Boolean)
        .flat(),
    ),
  ].map((tag) => ({
    params: { tag },
    props: {
      posts: allPosts.filter((post) => post.frontmatter.tags?.includes(tag)),
    },
  }));
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Shell pageTitle={`#${tag}`}>
  <section>
    <h1 class="section-heading">
      All posts tagged with #{tag}
    </h1>

    <PostList posts={posts} />
  </section>
</Shell>
