---
import Shell from "~/layouts/Shell.astro";
---

<Shell>
  <div class="text-center">
    <h1 class="text-[20vw] font-bold">404</h1>
    <p class="text-xl">
      Congratulations! You've discovered the quantum page - it both exists and
      doesn't.
    </p>
  </div>
</Shell>
