---
import { getCollection, type CollectionEntry } from "astro:content";

import Shell from "~/layouts/Shell.astro";

import { CursedFace } from "~/components/CursedFace";
import { PostList } from "~/components/PostList";
import { TagList } from "~/components/TagList";

const posts: CollectionEntry<"blog">[] = await getCollection("blog");
const tags = [
  ...new Set(
    posts
      .map((post) => post.data.tags)
      .filter(Boolean)
      .flat(),
  ),
];
---

<Shell title="Home">
  <div class="grid gap-6">
    {
      Boolean(posts.length) ? (
        <section>
          <h1 class="section-heading">a list of the most recent</h1>
          <PostList posts={posts} />
        </section>
      ) : (
        <div class="text-center">
          <CursedFace />
          <p class="sm:text-xl">
            I was going to write a post, but then I remembered I don't know
            anything.
          </p>
          <p class="sm:text-xl">
            Check back when I've fooled myself into thinking I'm an expert!
          </p>
        </div>
      )
    }
    {
      Boolean(tags.length) && (
        <section>
          <h1 class="section-heading">tags</h1>

          <TagList tags={tags as string[]} />
        </section>
      )
    }
  </div>
</Shell>
