---
import { getCollection, type CollectionEntry } from "astro:content";

import Shell from "~/layouts/Shell.astro";

import { PostList } from "~/components/PostList";

const posts: CollectionEntry<"blog">[] = await getCollection("blog");

// try {
//   allPosts = ;
// } catch (e) {} // TODO: Get rid of this after 1st post
---

<Shell title="Home">
  {
    Boolean(posts.length) && (
      <section>
        <h1 class="section-heading">a list of the most recent</h1>
        <PostList posts={posts} />
      </section>
    )
  }
</Shell>
