---
import groupBy from "lodash.groupby";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";

dayjs.extend(utc);

import BaseLayout from "../layouts/BaseLayout.astro";
import { MagicAnchor } from "../components/MagicAnchor";

const allPosts = await Astro.glob("./content/writing/*.md");

const postsGroupedByDate = groupBy(
  allPosts,
  ({ frontmatter }) => frontmatter.pubDate,
);
const sortedPostsGroupedByDateKeys = Object.keys(postsGroupedByDate).sort(
  (a, b) => (dayjs(a).isAfter(dayjs(b)) ? -1 : 1),
);
---

<BaseLayout pageTitle="Home">
    {
      sortedPostsGroupedByDateKeys.map((date, i) => (
        <details open={i === 0} class="not-prose">
          <summary class="text-lg cursor-pointer">{dayjs(date).format("YYYY")}</summary>

          <ul class="py-layout flex flex-col gap-4.5">
            {postsGroupedByDate[date].map((post) => (
              <li>
                <MagicAnchor
                  href={post.url}
                  imgUrl={post.frontmatter.image.url}
                  charmingText={post.frontmatter.title}
                  client:load
                />

                <p>{post.frontmatter.description}</p>
              </li>
            ))}
          </ul>
        </details>
      ))
    }
</BaseLayout>
