---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";

dayjs.extend(utc);

import BaseLayout from "~/layouts/BaseLayout.astro";

const allPosts = await Astro.glob("./content/writing/*.md");
---

<BaseLayout pageTitle="Home">
  <ul class="not-prose space-y-3">
    {
      allPosts
        .sort((a, b) =>
          dayjs(a.frontmatter.pubDate).isAfter(dayjs(b.frontmatter.pubDate))
            ? -1
            : 1,
        )
        .map((post) => (
          <li class="grid grid-cols-[1fr_6fr]">
            <span class="text-muted-foreground">
              {dayjs(post.frontmatter.pubDate).format("YYYY • MM")}
            </span>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        ))
    }
  </ul>
</BaseLayout>
