---
import Shell from "~/layouts/Shell.astro";

import { PostList } from "~/components/PostList";

const allPosts = await Astro.glob("./content/blog/*.md");
---

<Shell pageTitle="Home">
  <section>
    <h1 class="section-heading">a list of the most recent</h1>

    <PostList posts={allPosts} />
  </section>
</Shell>
