---
import { Container } from "~/components/Container";
import { FooterContent } from "~/components/FooterContent";
import { Navigation } from "~/components/Navigation";

import "~/styles/global.css";

const { pageTitle: _pageTitle } = Astro.props;

const pageTitle = [_pageTitle, "r9d7"].filter(Boolean).join(" / ");
---

<html lang="en">
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{pageTitle}</title>
  </head>

  <body
    class="flex flex-col gap-8 py-8 md-(gap-16 py-16) [&>div:nth-of-type(2)]:grow-1"
  >
    <Container>
      <header class="flex gap-2 text-muted-foreground">
        <a href="/" class="no-underline">@r9d7</a>
        
        <span>:</span>
        
        <Navigation />
      </header>
    </Container>

    <Container>
      <main class="prose max-w-none">
        <slot />
      </main>
    </Container>

    <Container>
      <footer>
        <FooterContent />
      </footer>
    </Container>
  </body>
</html>
