---
import { Container } from "~/components/Container";
import { FooterContent } from "~/components/FooterContent";
import { Navigation } from "~/components/Navigation";

import "~/styles/global.css";

const { pageTitle: _pageTitle } = Astro.props;

const pageTitle = [_pageTitle, "r9d7"].filter(Boolean).join(" / ");
---

<html lang="en">
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{pageTitle}</title>
  </head>

  <body class="flex flex-col gap-8 [&>div:nth-of-type(2)]:grow-1 py-4 relative">
    <Container class="sticky top-0">
      <header class="bg-background rounded-b-lg">
        <div class="flex gap-2 p-4 border-2 border-dotted rounded-lg">
          <a href="/" class="border-0 bg-accent text-accent-foreground">@r9d7</a
          >

          <span>:</span>

          <Navigation />
        </div>
      </header>
    </Container>

    <Container>
      <main>
        <slot />
      </main>
    </Container>

    <Container>
      <footer class="border-t-2 border-dotted pt-4">
        <FooterContent />
      </footer>
    </Container>
  </body>
</html>
